.SearchBar {
  &__input,
  &__button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: inherit;
    height: 28px;
    vertical-align: bottom;
  }

  &__input {
    border-bottom: 1px solid white;
    margin-right: 5px;
    color: white;

    &::placeholder {
      color: #acacac;
      font-style: italic;
    }
  }

  &__button {
    padding: 0;
    color: white;
  }
}

// remove webkit search input styling
// - taken from https://stackoverflow.com/a/9422689/8271866
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
